@import url('https://fonts.googleapis.com/css?family=Crete+Round|Rokkitt|Sanchez');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
* { margin:0; padding:0; box-sizing:border-box; }


body{
	font-family:Montserrat, sans-serif;
	font-size: 16px; 			/*1em=16*//* -> *//*pwidth= px*30=16*30=30em*/
	line-height:1.3;
	color: #383838;
	font-weight: 400;
	background-color: #d8d6debf;
}


header{
	background-color: #3f70adad;
	/*background-color: rgba(56,56,56,.7);*/
	position: absolute;
	width: 100%;
	z-index: 1;
	/*display: flex;*/ /* chiedi a jhon*/
	align-items: center;
	justify-content: space-around;
}


nav{
	padding: 1.5em 3em;
	float:right;
}


nav a{
	text-decoration: none;
	color:white;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.1em;
	padding:0 1em;
	display: block;
	float:left;	
}

nav a:not(:first-child):before {
    content: " | ";
}


nav a:hover{
	color: #383838;
	font-weight: 200;
}


h2{ 
	font-size: 2em;
	font-family: "Source Code Pro",serif;
	margin: 0 auto;
	text-align: center;
}


h3{
	font-family: "Source Code Pro",serif;
	font-size: 1.3em;
	font-style: italic;
	color: white;
	text-shadow: 2px 2px #3f4350;
}


main>div{
	width:83%;
	margin:auto;
	padding: 2em;
	padding-top:5%;
	padding-bottom: 6%;
	/*background-color: #3f70adad;*/
}



footer{
	/*background-color: #3f70adad;*/
	background-color: rgba(74,118,181,1);
	font-family:Montserrat, sans-serif;
	font-size: .8em;
}


img {
	position: center;
}



hr{
	width: 8em;
	margin:auto;
	border-top: 1px solid #3f70adad;
	border-color: #3f70adad;
}



h4{
	font-family:Montserrat, sans-serif;
	color:#383838;
	margin-bottom: 7%;
	text-align: center;
}

div>h2{
	margin-bottom: 1.2em;

}



#imgheader{
	padding-left: 5em;
	float: left;
}

#company{
	background: url(photos/Meif.jpg);
	background-size: cover;
	background-position: 100%;
	height: 95vh;
	font-family: "Sanchez",serif; 
	position: relative;
}



#company>div>h1{
	font-family: "Source Code Pro",serif;
	font-size: 2.5em;
	color: #fcfe42;
	text-shadow: 2px 2px #3f4350;
}


#company>div{
	position: absolute;
	font-size: 1.5em;
	bottom: 1em;
	left: 3em;
}

#funkylines{
	width: 100%;
	height: 100%;
	background-image: url(photos/funky-lines.png);
    background-repeat: repeat-x;
}

#gestione{
	background-color: #98bef5db;
}

#gestione>h4{
	color: blue;
}

/*#grouping{
	width
	background-color: blue;
}
*/
#lavorirecenti{
	background-color: #f0f0f0;
/*	background-image: url(photos/funky-lines-lavori1.png);
    background-repeat: repeat-x;*/
}

#lavorirecenti>div{
	width: 83%;
	margin:auto;
	padding-top:5%;
	padding-bottom:6%;

	/**/
}

.rjw:hover{
	opacity:0.7;
}


.footer-copy{
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 44%;
	font-size: .8em;
}
	

#footernav{
	background-color: #E8C66A;
}

#footerimg{
	width: 5em;
	margin-left: 1.3em;
	position: absolute;
}


#ultimo{
	margin:auto;
}


.clearfix:after{
	visibility: hidden;
	display:block;
	content:" ";
	clear:both;
	height: 0;
	font-size: 0;
}


.button{
	font-family:Montserrat, sans-serif;
	border-radius: 0.5em;
	padding: 1em;
	margin-top: .5em;
	background-color: #3f70adad;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	outline: 1em white;
	border: solid white;
	box-shadow: 2px 2px #3f4350;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover{
	background-color: rgba(252, 254, 66, .5);
	color: #3f70ad;
}


.servizi{
	margin: .3%;
	font-size: .8em;
	float:left;	
	width:24.3%;
	text-align: center;
	font-style: italic;
	background-color: #e4eaf1eb;
}



.icon:hover{
	opacity: 0.2;
}



.lavori{
	width:24%;
	float:left;
	margin:.5%;
}

.rjw{
	width: 90%;
	display: block;
	margin: auto;
	border:  .8em solid white;
}

.contatti>h2{
	font-size: 1.3em;
	font-style: none;
	color: white;
}

.footerclass{
	float:left;
	width: 31.2%;
	margin: 1% ;
	display: block;
}


.contattiz:hover{
	opacity:0.7;
}

.contattiz{
	/*width: 3em;*/
	margin: auto;
	display: block;
	float: left;
}

.stemmi{
	width:21%;
	float:left;
	margin:.5% 0 0 4%;
}



@media only screen and (max-width: 1180px){
	nav a{
	padding:0 .5em;
}

	#imgheader {
    padding-left: 2em;
}

}



@media only screen and (max-width: 880px){
	nav{
		float:none;
		display: block;
	}

	nav a{
		margin:0 1em 1em;
	    padding: 2% 20%;
	   }

	.servizi{
	margin: 1em;
	font-size: 1em;
	float:none;	
	width:90%;
	text-align: center;
	font-style: italic;
	background-color: #e4eaf1eb;
}  

#funkylines{
	/*width: 100%;*/
	height: 100%;
	background-image: url(photos/funky-lines.png);
    background-repeat: repeat-y;
}

	#imgheader {
    position:absolute;
}

.lavori{
	width: 90%;
	float:none;
	margin:1em;
}

#footerimg{
	width: 5em;
	display: block;
	position: absolute;
	box-sizing: border-box;
    left: 45%;
	margin-left: 2em;
}

#chisiamo{
	display: none;
}

#mappa{
	display: none;
}


#mappa{
	display: none;
}


@media only screen and (max-width: 710px){
	#company>div{
	position: absolute;
	font-size: 1em;
	bottom: 1em;
	left: 1em;
}






}


