@import url('https://fonts.googleapis.com/css?family=Crete+Round|Rokkitt|Sanchez');
* { margin:0; padding:0; box-sizing:border-box; }


body{
	font-family:Montserrat, sans-serif;
	font-size: 16px; 			/*1em=16*//* -> *//*pwidth= px*30=16*30=30em*/
	line-height:1.3;
	color: #383838;
	font-weight: 400;
}


header{
	background-color: #78B4FF;
}


nav{
	padding: 1.5em 3em;
	float:right;
	/*height:4em;
*/}


nav a{
	text-decoration: none;
	color:white;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.1em;
	padding:0 2em;
	display: block;
	float:left;
	
}

nav a:hover{
	color: yellow;
	text-decoration:underline;
}


h2{ 
	font-size: 2em;
	font-family: "Sanchez",serif;
	/*padding: 0 0 2em 0;*/
	margin: 0 auto;
	text-align: center;
}


h3{
	font-size: 1.3em;
	font-style: italic;
	padding:1em 0;
	color: white;
	text-shadow: 2px 2px #3f4350;
}


/*main{
	background-color: rgba(120,180,255,0.5);
}*/



footer{
	background-color: #78B4FF;
	font-family: sans serif;
	font-size: 1em;
	/*padding: 0 3em 1em;*/
}

img {
	position: center;
}

div>h2{
	padding-bottom: 1em;
}

hr{
	width: 5em;
}



#imgheader{
	padding-left: 5em;
	float: left;
}

#company{
	background: url(photos/Meiatf12a.png);
	background-size: cover;
	background-position: 100%;
	height: 95vh;
	font-family: "Sanchez",serif; 
	line-height: 1.3;
	display: block;
	margin:auto;
}

#company>div{
	margin-top: 2em;
}

#company>div>h1{
	font-size: 2.5em;
	color: #fcfe42;
	text-shadow: 2px 2px #3f4350;
}


#company>div{
	width:40em;
	display: block;
	padding:23em 6em;
	margin: auto;
	text-align: center;
	margin-top: 2em;
}



main>div{
	width:80%;
	margin:auto;
	padding: 2em;
	background-color: white;
	padding-top:6%;
	padding-bottom: 8%;
}


#gestione>h4{
	color: blue;
}

#lavorirecenti{
	/*background-color: rgba(120,180,255,0.5);*/
	background-color: darkgrey;


}

#lavorirecenti>div{
	width: 80%;
	margin:auto;
	padding-top:6%;
	padding-bottom: 8%;
	color: #f9da5c;
	/*background: url(cavi1.png);*/
}
	/*background-color: rgba(120,180,255,0.5);*/


#footernav{
	background-color: #E8C66A;
	/*text-align: center;
	padding: 1em;
	width:80%;
	margin: auto;*/
}

#footerimg{
	width: 5%;
	/*padding-bottom: .1px;
	margin-bottom: 0px;*/
	/*position: absolute;*/
	float:left;
}

#contatti{
	color: #383838;
}

#ultimo{
	margin:auto;
}


.clearfix:after{
	visibility: hidden;
	display:block;
	content:" ";
	clear:both;
	height: 0;
	font-size: 0;
}


.button{
	border-radius: 0.5em;
	padding: 1em;
	background-color: transparent;
	font-size: 1.1em;
	text-align: center;
	cursor: pointer;
	outline: 1em white;
	border: solid white;
	box-shadow: 2px 2px #3f4350;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover{
	background-color: yellow;
}



.servizi{
	font-size: .8em;
	float:left;	
	width:25%;
	/*height: 14em;*/
	/*margin: 1em 0 10em;*/
	/*padding:2em 1em;*/
	text-align: center;
	font-style: italic;
	/*border:  .5px solid;*/
}


.lavori{
	/*background-color:  white;*/
	width:25%;
	/*margin: 3em 0 5em*/;
	float:left;
}

.rjw{
	width: 90%;
	display: block;
	margin: auto;
	border:  .8em solid white;
}



.footerclass{
	float:left;
	width: 25%;
	margin: 1% ;
}

.contatti>a>h3{
	font-weight: 300
	font-style:italic;
	text-shadow: none;
	text-decoration:none;
}

p>h3{
	text-shadow: none;
	text-decoration:none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.contatti{
	float:left;
}

.contatti:hover{
	opacity:0.7;
}

.fa {
    padding: 1em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-decoration: none;






