@import url('https://fonts.googleapis.com/css?family=Crete+Round|Rokkitt|Sanchez');
* { margin:0; padding:0; box-sizing:border-box; }


body{
	font-family:Montserrat, sans-serif;
	font-size: 16px; 			/*1em=16*//* -> *//*pwidth= px*30=16*30=30em*/
	line-height:1.3;
	color: #383838;
	font-weight: 400;
}


header{
	position: absolute
	height: 2em;
	background-color: #78B4FF;
}


nav{
	padding: 1.5em 3em;
	float:right;
	text-align: right;
	height:4em;
	width: 100%;
	margin: auto;
}


nav a{
	text-decoration: none;
	color:white;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.1em;
	padding:0 2em;
	display: block;
	float:left;
	
}

nav a:hover{
	color: yellow;
	text-decoration:underline;
}


h2{ 
	font-size: 2em;
	font-family: "Sanchez",serif;
	padding: 2em 0;
	margin: 0 auto;
}


h3{
	font-size: 1.3em;
	font-style: italic;
	padding:1em 0;
	color: white;
	text-shadow: 2px 2px #3f4350;
}


main{
	background-color: rgba(120,180,255,0.5);
}


main>div{
	width:80%;
	margin: auto;
	margin-top: -4em;
	background-color: white;
}


footer{
	background-color: #78B4FF;
	font-size: .7em;
	font-family: serif;
	padding: 0 3em 1em;
}

img {
	position: center;
}

div>h2{
	font-size: 1.5em;
	padding-bottom: 1em;
}

hr{
	width: 5em;
}

#imgheader{
	padding-left: 5em;
	position:absolute;
}

#company{
	background: url(../unit_3/images/Meiatf12.png);
	background-size: cover;
	background-position: 100%;
	height: 95vh;
	font-family: "Sanchez",serif; 
	line-height: 1.3;
	display: block;
	margin:auto;
}

#company>div{
	margin-top: 2em;
}

#company>div>h1{
	font-size: 2.5em;
	color: #fcfe42;
	text-shadow: 2px 2px #3f4350;
}


#company>div{
	width:40em;
	display: block;
	padding:23em 6em;
	margin: auto;
	text-align: center;
}



main>div{
	width:80%;
	margin:auto;
	background-color: 
}



#gestione>h4{
	color: blue;
}

#lavorirecenti{
	background-color: rgba(120,180,255,0.5);


}

#lavorirecenti>div{
	width: 80%;
	margin:auto;
	background: url(cavi1.png);
}
	/*background-color: rgba(120,180,255,0.5);*/


#footernav{
	background-color: #E8C66A;
	/*text-align: center;
	padding: 1em;
	width:80%;
	margin: auto;*/
}

#footerimg{
	width: 60px;
	padding-bottom: .1px;
	margin-bottom: 0px;
	position: absolute;
}

#contatti{
	color: #383838;
}


.clearfix:after{
	visibility: hidden;
	display:block;
	content:" ";
	clear:both;
	height: 0;
	font-size: 0;
}


.button{
	border-radius: 0.5em;
	padding: 1em;
	background-color: transparent;
	font-size: 1.1em;
	text-align: center;
	cursor: pointer;
	outline: 1em white;
	border: solid white;
	box-shadow: 2px 2px #3f4350;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover{
	background-color: yellow;
}


.button:after {
    content: "";
    background: yellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    }

 .button:active:after {
 padding: 0;
 margin: 0;
 opacity: 1;
 transition: 0s
}


.servizi{
	font-size: .8em;
	float:left;	
	width:25%;
	height: 14em;
	margin: 1em 0 10em;
	padding:2em 1em;
	text-align: center;
	font-style: italic;
	/*border:  .5px solid;*/
}


.lavori{
	/*background-color:  white;*/
	width:25%;
	margin: 3em 0 5em;
	float:left;
}

.rjw{
	width: 50%;
	display: block;
	margin: auto;
}



.footerclass{
	float:left;
	width: 48%;
	margin: 5em 1em 2em;
}

.contatti>h3{
	font-weight: 300
	font-style:italic;
	text-shadow: none;
	text-decoration:none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa {
    padding: 1em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-decoration: none;






